@model FashionWebStoreApp.Models.Warehouse
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Green Fox Fashion Web Store Summary</h1>
    <table border="1">
        <tr>
            <td>Item Name</td>
            <td>Manufacturer</td>
            <td>Category</td>
            <td>Quantity</td>
            <td>Sub-total Price</td>
        </tr>

            <tr>
                <td>@Model.ItemName</td>
                <td>@Model.Manufacturer</td>
                <td>@Model.Category</td>
                <td></td>
                <td></td>
            </tr>

    </table>
    <br /><h><a href="/warehouse">Back to main</a></h>
</body>
</html>